<div id="recipe-catalog">
    <div class="tile is-ancestor" id="recipe-posts">
        {{!-- display each recipe as it's own tile --}}
        {{#if recipes.length}}
            {{#each recipes as |recipe|}}
            {{!-- set display to none on default --}}
            {{!-- use the index value as id to avoid skipping numbers due to deleted recipes --}}
            <div class="tile is-parent is-4 recipe-page" id="{{@index}}" style="display: none; ">
                <article class="tile is-child is-info">
                <a class="title" href="/api/recipes/{{recipe.id}}">{{recipe.recipe_name}}</a>
                <figure class="image m-6">
                    <a href="/api/recipes/{{recipe.id}}">
                    {{#if recipe_image}}
                        <img src="{{recipe_image}}" style="object-fit: cover; height: 300px; width: 300px;">
                    {{else}}
                        <img src="./images/default_image.png" style="object-fit: cover; height: 300px; width: 300px;">
                    {{/if}}
                    </a>
                </figure>
                <p class="subtitle has-text-weight-bold">Recipe by: {{recipe.user.username}}</p>
                <p class="subtitle has-text-weight-bold">Liked by: {{favorites_count}} <img src="/images/follower.png" width="20"></p>
                </article>
            </div>
            {{/each}}
        {{/if}}
    </div>
    {{!-- page navigation --}}
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
        <ul class="pagination-list">
            <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
            <li><span class="pagination-ellipsis">&hellip;</span></li>
            <li><a class="pagination-link is-current has-text-weight-semibold" aria-label="Current page" aria-current="page"
                    id="current-page">1</a></li>
            <li><span class="pagination-ellipsis">&hellip;</span></li>
            <li><a class="pagination-link" aria-label="Goto last page" id="last-page"></a></li>
        </ul>
    </nav>
    <a class="pagination-previous has-text-weight-semibold">Previous</a>
    <a class="pagination-next has-text-weight-semibold">Next</a>
</div>

<script src="/js/catalog.js"></script>
