<div id="my-favorites">
    <div class="field mt-5 my-favorites-header">
        <p class="title is-2 my-6">{{userName}}'s Favorites</p>
    </div>
    <div class="columns is-multiline">
        {{#if favs}}
        {{#each favs as |fav|}}
        <div class="column is-half">
            <div class="card mb-5">
                <div class="columns is-vcentered pl-5 py-3">
                    <div class="column is-5">
                        <div class="card-image">
                            
                            <figure class="image">
                                {{#if fav.recipe.recipe_image}}<img src="{{fav.recipe.recipe_image}}" alt="Placeholder image" style="object-fit: cover; height: 200px; width: 200px;">
                                {{else}}<img src="./images/default_image.png" alt="Placeholder image" style="object-fit: cover; height: 200px; width: 200px;">
                                {{/if}}
                            </figure>
                        </div>
                    </div>
                    <div class="column">
                        <a class="title is-3 is-spaced" href="/api/recipes/{{fav.recipe.id}}">{{fav.recipe.recipe_name}}</a>
                        <p class="subtitle is-5 mt-3">Liked By: {{fav.recipe.favorites.length}} <img src="/images/follower.png" width="20"></p>
                        {{!-- <button type="submit" class="button has-text-weight-bold is-ghost mb-1 delete-favorite" id="delete-favorite">Remove</button> --}}
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        {{/if}}
    </div>
</div>

<script src="/js/my-favorites.js"></script>