<H2 class="post-head-title">User Post</H2>

{{!-- main --}}
{{> post-box}}

{{!-- comments --}}
{{#if comments}}
    <h4 class="comments-label">Comments:</h4>
    {{#each comments as |comment|}}
    {{> comment}}
    {{/each}}
    <script src="/js/comment-delete.js"></script>
{{/if}}

{{!-- comment submit form --}}
{{#if logged_in}}
<form class="form comment-form">
    <div class="px-3">
        <div >
            <label for="comment-prompt">
                <h4>Comment here:</h4>
            </label>
            <textarea
                class="form-control"
                id="comment-text"
                name="comment-text"
                rows="3"
                placeholder="Add your comment here"
            ></textarea>
        </div>
        <input type="hidden" value="{{id}}" id="comment-post-id"></input>

        <div class="my-4">
            <button type= "submit" class="btn btn-secondary w-100 ">Submit</button>
        </div> 
    </div>
</form>

<script src="/js/comment-create.js"></script>

{{else }}
    <a href="/login"><h5 class="post-login-prompt">Login or signup to comment</h5></a>
{{/if}}

{{!-- edit and delete buttons for logged in author --}}
{{#if isAuthor}}
<div class="text-center my-2">
    <a href="/update-post/{{id}}">
        <button data-id= "{{id}}" class="update-post btn btn-dark px-5">Edit Post</button>
    </a>
</div>
<div class="text-center my-2">
    <a href="#">
        <button data-id= "{{id}}" class="delete-post btn btn-dark px-5">Delete Post</button>
    </a>
</div>

<script src="/js/post-delete.js"></script>
{{/if}}